@use 'fonts';

*, 
*::before, 
*::after {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-weight: 500;

 


}



body.dark-mode {
    background-color: var((--black-100));
    transition: background 150ms ease-in-out;
    
}